# Address of the ServiceAgreement proxy on whatever network your wallet is connected to.
# For local Hardhat, this is whatever upgrades.deployProxy printed when running scripts/deploy.js.
NEXT_PUBLIC_CONTRACT_ADDRESS=
